*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Raleway;
    src: url('../assets/Raleway/Raleway-VariableFont_wght.ttf');
}

body{
    height: 100%;
    width: 100%;
    .wrapper{
        height: 100vh;
        width: 95%;
        margin: auto auto;
        min-width:700px;
        max-width: 1500px;
        max-height: 800px;
        display: grid;
        place-items: center;
        .header{
            width: 100%;
            align-self: end;
            margin:1.6rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            a{
                text-decoration: none;
                justify-self: end;
                align-self: center;
                .contact-btn{
                    margin-left: 0.5rem;
                    width: 166px;
                    height: 43px;
                    border: 1px solid black;
                    background: #000000;
                    border-radius: 6px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    span{
                        font-family: 'Raleway';
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .svg{
            height: auto;
            min-height: 270px;
            width: 450px;
            object-fit: cover;
        }
        .text-item{
            align-self: start;
            text-align: center;
            margin-top: 1rem;
            display: grid;
            place-items: center;
            p{
                font-family: 'Raleway';
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                max-width: 500px;
                height: 56px;
                color: #000000;
            }
            a{
                text-decoration: none;
                .go-back-btn{
                    margin-top: 1.5rem;
                    border: 1px solid black;
                    background: #000000;
                    border-radius: 6px;
                    width: 202px;
                    height: 43px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    span{
                        font-family: Raleway;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}